html,body{margin:0;padding:0}
body{font-family:sans-serif;font-size:16px;line-height:1.4}
h1,h2,h3{line-height:1.2;color:#099}
body{
	max-width:1280px;
	min-height:753px;
	margin:auto;
	overflow-x:scroll;
}
pre{white-space:pre-wrap;word-wrap:break-word}


.ui-pnl{padding:20px;min-height:500px;background:url(stone_texture5.jpg)}

.ui-btn{
	display:inline-block;
	padding:10px;
	background:url(wood_texture02.png);
	box-shadow:0 3px 3px rgba(0,0,0,.7);
	border-radius:10px;
}
.ui-btn b{display:block;padding:10px;color:#fff;text-decoration:none;background:rgba(0,0,0,.5);border-radius:5px}