html,body,h1,h2{margin:0;padding:0}
body{font-family:sans-serif;font-size:20px;line-height:1.4}
h1,h2,h3{line-height:1.2;color:#900}

html{background:#333}
body{
	background:#F2EBDB url(paper_bg.jpg);

	color:#300;
	width:1280px;
	height:753px;
	margin:20px auto;
	overflow-x:scroll;
	position:relative;
	box-sizing:border-box;
	padding:20px;
}

nav{
	position:absolute;
	bottom:10px;
	left:0;
	right:0;
	text-align:center;
	
}
nav a{
	display:inline-block;
	box-sizing:border-box;
	width:60px;
	height:60px;
	padding:15px;
	margin:0 5px;	
	border-radius:50%;
	box-shadow:0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);	
	background:#900;
	position:relative;
}
nav svg{
	width:30px;
	height:30px;
	fill:#fff;
}
nav i{
	position:absolute;
	top:0;
	right:0;
	background:#fff;
	border:solid 1px #900;
	font-size:12px;
	line-height:12px;
	border-radius:50%;
	padding:4px;
	font-style:normal;
}

.compass{
	position:absolute;
	bottom:5px;
	right:5px;
	width:180px;
	height:180px;
}
.compass svg{
	width:100%;
	height:100%;
	fill:#900;
}


@font-face{
    font-family:'heroquest';
    src: url('fonts/heroquest-webfont.eot');
    src: url('fonts/heroquest-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heroquest-webfont.woff2') format('woff2'),
         url('fonts/heroquest-webfont.woff') format('woff'),
         url('fonts/heroquest-webfont.ttf') format('truetype'),
         url('fonts/heroquest-webfont.svg#heroquestregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{font-family:heroquest,sans-serif}
.intro{font-family:Times New Roman,serif;font-style:italic;font-size:24px;}

figure{
	display:inline-block;
	background:linear-gradient(135deg, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
	padding:10px;
	border-radius:20px;
	box-shadow:0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);	
}
figure img{
	display:block;
	border-radius:10px;
	box-shadow:inset 0 -2px 2px rgba(0,0,0,1);
}
h1{
	color:#900;
	font-weight:normal;
	font-size:3em;
}
